{% extends "app/layout.html" %}

{% from 'app/vendor/govuk-frontend/components/footer/macro.html' import govukFooter %}

{% block head %}
    {{ super() }}

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.css' rel='stylesheet'/>
    <style>
    .map-overlay {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.10);
        border-radius: 3px;
        position: absolute;
        width: 25%;
        top: 10px;
        left: 10px;
        padding: 10px;
        display: none;
    }
    </style>
{% endblock %}

{% block title %}Index{% endblock %}

{% block inner_content %}
  {% filter markdown %}
# Search the Index Map
  {% endfilter %}

    <div id="map" style="width: 900px; height: 600px;"></div>
    <div id="map-overlay" class="map-overlay"></div>

  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWF0dGdpcmRsZXIiLCJhIjoiY2lteW85cm5lMDBmcnY5bTFxY2Zsc3c2OCJ9.VvO2DhAhOVrcjJ0Usw8JIA';
        let map = new mapboxgl.Map({
        style: 'mapbox://styles/mattgirdler/cjznu3ztu06m31clp2j37yybz',
        center: [-3.52841649197765, 50.7242226667005],
        zoom: 15.5,
        pitch: 45,
        bearing: -17.6,
        container: 'map',
        antialias: true
    });

    
    map.on('load', function() {
        
        const layers = [
            {layer: 'princesshay-level-gf-leasehold', sourceLayer: 'princesshay_level_gf-7sbp65'}, 
            {layer: 'princesshay-level-1-leasehold', sourceLayer: 'princesshay_level_1-9ntddt'}
        ]

        for (let i = 0; i < layers.length; i++) {
            const features = map.querySourceFeatures('composite', {sourceLayer: layers[i].sourceLayer});
            const buildingId = features[0].properties.fid;
            const buildingFeature = map.querySourceFeatures('composite', {
                sourceLayer: 'exeter_buildings_with_height-0ygi87',
                filter: ["==", 'fid', buildingId]
            })[0]
            const buildingHeight = buildingFeature.properties.RelHmax;
            const floorHeight = buildingHeight / features[0].properties.num_floors;
            const extrusionHeight = floorHeight * (features[0].properties.floor + 1);
            const baseHeight = floorHeight*features[0].properties.floor;

            map.setPaintProperty(layers[i].layer, 'fill-extrusion-base', baseHeight, {validate: true})
            map.setPaintProperty(layers[i].layer, 'fill-extrusion-height', extrusionHeight, {validate: true})
        }

        // map.setPaintProperty('princesshay-level-gf-leasehold', 'fill-extrusion-height', floor_height, {validate: true})
        // map.setPaintProperty('princesshay-level-gf-leasehold', 'fill-extrusion-base', floor_height*ground_floor_features[0].properties.floor, {validate: true})
        // map.setPaintProperty('princesshay-level-1-leasehold', 'fill-extrusion-height', floor_height*(first_floor_features[0].properties.floor+1), {validate: true})
        // map.setPaintProperty('princesshay-level-1-leasehold', 'fill-extrusion-base', floor_height*first_floor_features[0].properties.floor, {validate: true})
    
        let overlay = document.getElementById('map-overlay');
    
        // Create a popup, but don't add it to the map yet.
        let popup = new mapboxgl.Popup({
            closeButton: false
        });
    })

    map.on('click', 'exeter-buildings-with-height', function (e) {
        const features = map.queryRenderedFeatures(e.point);
        const feature = features[0];
        if (map.getFeatureState({id: feature.id, source: 'composite', sourceLayer: 'exeter_buildings_with_height-0ygi87'}).hide) {
            map.removeFeatureState({id: feature.id, source: 'composite', sourceLayer: 'exeter_buildings_with_height-0ygi87'}, 'hide')
        } else {
            map.setFeatureState({id: feature.id, source: 'composite', sourceLayer: 'exeter_buildings_with_height-0ygi87'}, {'hide': true})
        }
    });


  </script>
{% endblock %}

{% block footer %}
{{ govukFooter({
  'navigation': [
    {
      'title': "Services and information",
      'columns': 2,
      'items': [
        {
          'href': "#",
          'text': "Benefits"
        },
        {
          'href': "#",
          'text': "Births, deaths, marriages and care"
        },
        {
          'href': "#",
          'text': "Business and self-employed"
        },
        {
          'href': "#",
          'text': "Childcare and parenting"
        },
        {
          'href': "#",
          'text': "Citizenship and living in the UK"
        },
        {
          'href': "#",
          'text': "Crime, justice and the law"
        },
        {
          'href': "#",
          'text': "Disabled people"
        },
        {
          'href': "#",
          'text': "Driving and transport"
        },
        {
          'href': "#",
          'text': "Education and learning"
        },
        {
          'href': "#",
          'text': "Employing people"
        },
        {
          'href': "#",
          'text': "Environment and countryside"
        },
        {
          'href': "#",
          'text': "Housing and local services"
        },
        {
          'href': "#",
          'text': "Money and tax"
        },
        {
          'href': "#",
          'text': "Passports, travel and living abroad"
        },
        {
          'href': "#",
          'text': "Visas and immigration"
        },
        {
          'href': "#",
          'text': "Working, jobs and pensions"
        }
      ]
    },
    {
      'title': "Departments and policy",
      'items': [
        {
          'href': "#",
          'text': "How government works"
        },
        {
          'href': "#",
          'text': "Departments"
        },
        {
          'href': "#",
          'text': "Worldwide"
        },
        {
          'href': "#",
          'text': "Policies"
        },
        {
          'href': "#",
          'text': "Publications"
        },
        {
          'href': "#",
          'text': "Announcements"
        }
      ]
    }
  ],
  'meta': {
    'items': [
      {
        'href': "#",
        'text': "Help"
      },
      {
        'href': "#",
        'text': "Cookies"
      },
      {
        'href': "#",
        'text': "Contact"
      },
      {
        'href': "#",
        'text': "Terms and conditions"
      },
      {
        'href': "#",
        'text': "Rhestr o Wasanaethau Cymraeg"
      },
      {
        'href': "#",
        'text': "Government Digital Service"
      }
    ]
  }
}) }}
{% endblock %}
