{% extends "app/layout.html" %}

{% from 'app/vendor/govuk-frontend/components/footer/macro.html' import govukFooter %}

{% block head %}
    {{ super() }}

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.css' rel='stylesheet'/>
    <style>
    .title-information-overlay {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.10);
        border-radius: 3px;
        position: absolute;
        width: 25%;
        top: 10px;
        left: 10px;
        opacity: 0.8;
        padding: 10px;
        display: none;
        z-index: 2;
    }

    .toggle-layers-overlay {
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0,0,0,0.10);
      border-radius: 3px;
      position: absolute;
      width: 20%;
      top: 10px;
      right: 10px;
      opacity: 0.8;
      padding: 10px;
      display: none;
      z-index: 2;
    }
    
    </style>
{% endblock %}

{% block title %}Index{% endblock %}

{% block inner_content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column">
        <h1 class="govuk-heading-xl">Search the Index Map</h1>
        <div id="map" style="width: 100%; height: 600px;">
            <div id="title-information-overlay" class="title-information-overlay"></div>
            <div id="toggle-layers-overlay" class="toggle-layers-overlay">
              <strong>Filter</strong>
              <div>
                <input type="checkbox" name="filter" id="leasehold-filter" value="leasehold" checked>
                <label for="leasehold-filter">Leasehold</label>
              </div>
              <div>
                <input type="checkbox" name="filter" id="freehold-filter" value="freehold" checked>
                <label for="freehold-filter">Freehold</label>
              </div>
            </div>  
        </div>
    </div>
</div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWF0dGdpcmRsZXIiLCJhIjoiY2lteW85cm5lMDBmcnY5bTFxY2Zsc3c2OCJ9.VvO2DhAhOVrcjJ0Usw8JIA';
        let map = new mapboxgl.Map({
        style: 'mapbox://styles/mattgirdler/cjznu3ztu06m31clp2j37yybz',
        center: [-3.52841649197765, 50.7242226667005],
        zoom: 15.5,
        pitch: 45,
        bearing: -17.6,
        container: 'map',
        antialias: true
    });

    const buildingHeightSourceLayer = "exeter_buildings_with_height-0ygi87";
    const floorplanLayers = [
        {layer: 'princesshay-level-gf-leasehold', sourceLayer: 'princesshay-level-gf-8yagcd'},
        {layer: 'princesshay-level-gf-freehold', sourceLayer: 'princesshay-level-gf-8yagcd'},
        {layer: 'princesshay-level-1-leasehold', sourceLayer: 'princesshay-level-1-90cnib'},
        {layer: 'princesshay-level-1-freehold', sourceLayer: 'princesshay-level-1-90cnib'}
    ];

    map.on('load', function() {

        // Create array of building IDs with boundary/floorplan data
        const buildingIdsWithFloorplans = [];
        for (let i in floorplanLayers) {
            const features = map.querySourceFeatures('composite', {
                sourceLayer: floorplanLayers[i].sourceLayer,
            });
            for (let j in features) {
                if (!buildingIdsWithFloorplans.includes(features[j].properties.fid)) {
                    buildingIdsWithFloorplans.push(features[j].properties.fid);
                }
            }
        }

        // Hide any buildings that have boundary/floorplan data 
        let buildingFilter = ["in", "fid"].concat(buildingIdsWithFloorplans)
        const buildingFeatures = map.querySourceFeatures('composite', {
            sourceLayer: buildingHeightSourceLayer,
            filter: buildingFilter
        });

        for (let i in buildingFeatures) {
            map.setFeatureState({id: buildingFeatures[i].id, source: 'composite', sourceLayer: buildingHeightSourceLayer}, {'hide': true})
            displayFloorplan(buildingFeatures[i].properties.fid);
        }

        // Create an overlay
        let titleInformationOverlay = document.getElementById('title-information-overlay');
        let toggleLayersOverlay = document.getElementById('toggle-layers-overlay');
        toggleLayersOverlay.style.display = 'block';
        // Create a popup, but don't add it to the map yet.
        let popup = new mapboxgl.Popup({
            closeButton: false
        });

        // Display interior floorplans after hiding external geometry
        function displayFloorplan(buildingId) {
            for (let i in floorplanLayers) {
                map.setLayoutProperty(floorplanLayers[i].layer, 'visibility', 'visible');
                const features = map.querySourceFeatures('composite', {
                    sourceLayer: floorplanLayers[i].sourceLayer, 
                    filter: ["==", 'fid', buildingId]
                });
                if (features.length > 0) {
                    const buildingId = features[0].properties.fid;
                    const buildingFeature = map.querySourceFeatures('composite', {
                        sourceLayer: buildingHeightSourceLayer,
                        filter: ["==", 'fid', buildingId]
                    })[0]
                    const buildingHeight = buildingFeature.properties.RelHmax;
                    const floorHeight = buildingHeight / features[0].properties.num_floors;
                    const extrusionHeight = floorHeight * (features[0].properties.floor + 1);
                    const baseHeight = floorHeight*features[0].properties.floor;

                    // Add +1 to freehold heights to avoid clipping effect with containing leaseholds 
                    map.setPaintProperty(floorplanLayers[i].layer, 'fill-extrusion-height', (floorplanLayers[i].layer.includes('freehold') ? extrusionHeight+1 : extrusionHeight), {validate: true})
                    map.setPaintProperty(floorplanLayers[i].layer, 'fill-extrusion-base', baseHeight, {validate: true})
                }
            }
        }

        function hideFloorplan(buildingId) {
            for (let i in floorplanLayers) {
                const features = map.querySourceFeatures('composite', {
                    sourceLayer: floorplanLayers[i].sourceLayer, 
                    filter: ["==", 'fid', buildingId]
                });
                if (features.length > 0) {
                    map.setPaintProperty(floorplanLayers[i].layer, 'fill-extrusion-base', 0, {validate: true});
                    map.setPaintProperty(floorplanLayers[i].layer, 'fill-extrusion-height', 0, {validate: true});
                }
            }
        }

        function highlightTitle(titleNo) {
            for (let i in floorplanLayers) {
                const features = map.querySourceFeatures('composite', { 
                    sourceLayer: floorplanLayers[i].sourceLayer,
                    filter: ['==', 'title_no', titleNo ] 
                });
                for (let j in features) {
                    map.setFeatureState({id: features[j].id, source: 'composite', sourceLayer: floorplanLayers[i].sourceLayer}, {'highlight': true})
                }
            }
        }

        function disableHighlightTitle() {
            for (let i in floorplanLayers) {
                map.removeFeatureState({source: 'composite', sourceLayer: floorplanLayers[i].sourceLayer})
            }
        }

        // Toggle building polygons on/off
        map.on('click', 'exeter-buildings-with-height', function (e) {
            const features = map.queryRenderedFeatures(e.point);
            const feature = features[0];
            if (map.getFeatureState({id: feature.id, source: 'composite', sourceLayer: buildingHeightSourceLayer}).hide) {
                hideFloorplan(feature.properties.fid);
                map.removeFeatureState({id: feature.id, source: 'composite', sourceLayer: buildingHeightSourceLayer}, 'hide')
            } else {
                map.setFeatureState({id: feature.id, source: 'composite', sourceLayer: buildingHeightSourceLayer}, {'hide': true})
                displayFloorplan(feature.properties.fid);
            }
        });

        // Display title information from floorplans
        map.on('mousemove', function(e) {

            disableHighlightTitle();

            // Create array of floorplan style layers for filtering
            const layers = []
            for (let i in floorplanLayers) {
                layers.push(floorplanLayers[i].layer)
            }

            // Check if mouseover is on a floorplan layer
            const features = map.queryRenderedFeatures(e.point, { layers: layers });
            if (features.length > 0) {
                const currentFeature = features[0];

                highlightTitle(currentFeature.properties.title_no);
    
                // Create HTML for title details 
                titleInformationOverlay.innerHTML = '';

                // Title number
                let titleNumber = document.createElement('strong');
                titleNumber.textContent = currentFeature.properties.title_no;

                // Tenure
                let tenureDiv = document.createElement('div');
                let tenureLabel = document.createElement('strong');
                tenureLabel.textContent = 'Tenure: '
                let tenureText = document.createElement('span');
                tenureText.textContent = currentFeature.properties.tenure;
                tenureDiv.appendChild(tenureLabel);
                tenureDiv.appendChild(tenureText);

                // Address
                let addressDiv = document.createElement('div');
                let address = document.createElement('strong');
                address.textContent = currentFeature.properties.address;


                // Price paid
                let pricePaidDiv = document.createElement('div');
                let pricePaidLabel = document.createElement('strong');
                pricePaidLabel.textContent = 'Price paid: ';
                let pricePaidText = document.createElement('span');
                pricePaidText.textContent = currentFeature.properties.price_paid;
                pricePaidDiv.appendChild(pricePaidLabel);
                pricePaidDiv.appendChild(pricePaidText);

                // Proprietor
                let proprietorDiv = document.createElement('div');
                let proprietorLabel = document.createElement('strong');
                proprietorLabel.textContent = 'Proprietor: ';
                let proprietorText = document.createElement('span');
                proprietorText.textContent = currentFeature.properties.proprietor;
                proprietorDiv.appendChild(proprietorLabel);
                proprietorDiv.appendChild(proprietorText);

                titleInformationOverlay.appendChild(titleNumber);
                titleInformationOverlay.appendChild(tenureDiv);
                titleInformationOverlay.appendChild(pricePaidDiv);
                titleInformationOverlay.appendChild(proprietorDiv);
                titleInformationOverlay.style.display = 'block';
            }
        })
    })

    function toggleLayers(filter) {
      for (let i in floorplanLayers) {
        if (floorplanLayers[i].layer.includes(filter)) {
          let visibility = map.getLayoutProperty(floorplanLayers[i].layer, 'visibility');

          if (visibility === 'visible') {
            map.setLayoutProperty(floorplanLayers[i].layer, 'visibility', 'none');
            this.className = '';
          } else {  
            this.className = 'active';
            map.setLayoutProperty(floorplanLayers[i].layer, 'visibility', 'visible');
          }
        }
      }
    }

    let filterCheckboxes = document.getElementsByName('filter');
    for (let i = 0; i<filterCheckboxes.length; i++) {
      filterCheckboxes[i].addEventListener('change', function(e) {
        let filter = e.target.value;
        e.preventDefault();
        e.stopPropagation();
        
        toggleLayers(filter);  
      });
    }

  </script>
{% endblock %}

{% block footer %}
{{ govukFooter({
  'navigation': [
    {
      'title': "Services and information",
      'columns': 2,
      'items': [
        {
          'href': "#",
          'text': "Benefits"
        },
        {
          'href': "#",
          'text': "Births, deaths, marriages and care"
        },
        {
          'href': "#",
          'text': "Business and self-employed"
        },
        {
          'href': "#",
          'text': "Childcare and parenting"
        },
        {
          'href': "#",
          'text': "Citizenship and living in the UK"
        },
        {
          'href': "#",
          'text': "Crime, justice and the law"
        },
        {
          'href': "#",
          'text': "Disabled people"
        },
        {
          'href': "#",
          'text': "Driving and transport"
        },
        {
          'href': "#",
          'text': "Education and learning"
        },
        {
          'href': "#",
          'text': "Employing people"
        },
        {
          'href': "#",
          'text': "Environment and countryside"
        },
        {
          'href': "#",
          'text': "Housing and local services"
        },
        {
          'href': "#",
          'text': "Money and tax"
        },
        {
          'href': "#",
          'text': "Passports, travel and living abroad"
        },
        {
          'href': "#",
          'text': "Visas and immigration"
        },
        {
          'href': "#",
          'text': "Working, jobs and pensions"
        }
      ]
    },
    {
      'title': "Departments and policy",
      'items': [
        {
          'href': "#",
          'text': "How government works"
        },
        {
          'href': "#",
          'text': "Departments"
        },
        {
          'href': "#",
          'text': "Worldwide"
        },
        {
          'href': "#",
          'text': "Policies"
        },
        {
          'href': "#",
          'text': "Publications"
        },
        {
          'href': "#",
          'text': "Announcements"
        }
      ]
    }
  ],
  'meta': {
    'items': [
      {
        'href': "#",
        'text': "Help"
      },
      {
        'href': "#",
        'text': "Cookies"
      },
      {
        'href': "#",
        'text': "Contact"
      },
      {
        'href': "#",
        'text': "Terms and conditions"
      },
      {
        'href': "#",
        'text': "Rhestr o Wasanaethau Cymraeg"
      },
      {
        'href': "#",
        'text': "Government Digital Service"
      }
    ]
  }
}) }}
{% endblock %}
