{% extends "app/layout-full-screen.html" %}

{% from 'app/vendor/govuk-frontend/components/footer/macro.html' import govukFooter %}

{% block head %}
    {{ super() }}

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
    <!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.css' rel='stylesheet'/> -->
    <link rel='stylesheet' href="{{ url_for('static', filename='stylesheets/mapbox.css') }}" />
{% endblock %}

{% block title %}Index{% endblock %}

{% block inner_content %}

  <div class="full-screen-map-main">
    <div class="govuk-grid-row">
      <div id="spatial-units" hidden>
          {{ spatial_units }}
      </div>
      <div class="govuk-grid-column">
      <!-- <h1 class="govuk-heading-l">Search the Index Map</h1>
      <p class="govuk-body">Click on a feature to see its properties</p> -->
      <!-- </div> -->
      <!-- <div class="govuk-grid-column-two-thirds"> -->
        <div class="full-screen-map-container">
          <div id="map" style="width: 100%; height: 100%;">
            <div id="title-information-overlay" class="title-information-overlay"></div>
            <div id="toggle-layers-overlay" class="toggle-layers-overlay">
              <strong>Filter</strong>
              <div>
                <input type="checkbox" name="filter" id="leasehold-filter" value="leasehold" checked>
                <label for="leasehold-filter">Leasehold</label>
              </div>
              <div>
                <input type="checkbox" name="filter" id="freehold-filter" value="freehold" checked>
                <label for="freehold-filter">Freehold</label>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

  </script>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='javascripts/mapbox.js') }}" />

{{ govukFooter({
  'navigation': [
    {
      'title': "Services and information",
      'columns': 2,
      'items': [
        {
          'href': "#",
          'text': "Benefits"
        },
        {
          'href': "#",
          'text': "Births, deaths, marriages and care"
        },
        {
          'href': "#",
          'text': "Business and self-employed"
        },
        {
          'href': "#",
          'text': "Childcare and parenting"
        },
        {
          'href': "#",
          'text': "Citizenship and living in the UK"
        },
        {
          'href': "#",
          'text': "Crime, justice and the law"
        },
        {
          'href': "#",
          'text': "Disabled people"
        },
        {
          'href': "#",
          'text': "Driving and transport"
        },
        {
          'href': "#",
          'text': "Education and learning"
        },
        {
          'href': "#",
          'text': "Employing people"
        },
        {
          'href': "#",
          'text': "Environment and countryside"
        },
        {
          'href': "#",
          'text': "Housing and local services"
        },
        {
          'href': "#",
          'text': "Money and tax"
        },
        {
          'href': "#",
          'text': "Passports, travel and living abroad"
        },
        {
          'href': "#",
          'text': "Visas and immigration"
        },
        {
          'href': "#",
          'text': "Working, jobs and pensions"
        }
      ]
    },
    {
      'title': "Departments and policy",
      'items': [
        {
          'href': "#",
          'text': "How government works"
        },
        {
          'href': "#",
          'text': "Departments"
        },
        {
          'href': "#",
          'text': "Worldwide"
        },
        {
          'href': "#",
          'text': "Policies"
        },
        {
          'href': "#",
          'text': "Publications"
        },
        {
          'href': "#",
          'text': "Announcements"
        }
      ]
    }
  ],
  'meta': {
    'items': [
      {
        'href': "#",
        'text': "Help"
      },
      {
        'href': "#",
        'text': "Cookies"
      },
      {
        'href': "#",
        'text': "Contact"
      },
      {
        'href': "#",
        'text': "Terms and conditions"
      },
      {
        'href': "#",
        'text': "Rhestr o Wasanaethau Cymraeg"
      },
      {
        'href': "#",
        'text': "Government Digital Service"
      }
    ]
  }
}) }}
{% endblock %}

