<!DOCTYPE html>
<html lang="{{ html_lang|default('en') }}">
  <head>
    <title>{% block page_title %}{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}" />

    {% block head %}{% endblock %}
  </head>

  <body class="{% block body_classes %}{% endblock %}">
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
