{% from 'app/vendor/.govuk-frontend/components/fieldset/macro.html' import govukFieldset %}
{% import 'app/macros/flask_wtf.html' as wtforms with context %}

{% extends "app/layout.html" %}

{% block content %}
  {#{{ error_summary(form) }}#}
  <form method="POST" action="{{url_for('example_form.index')}}" novalidate>
      {% call govukFieldset({
        'legend': {
          'text': "Example GOV.UK styled Flask-WTF form",
          'classes': "govuk-fieldset__legend--m",
          'isPageHeading': true
        }
      }) %}
        {{ form.csrf_token }}

        {{ wtforms.govukInput(form, 'string_field')}}

        {{ wtforms.govukInput(form, 'email_field', {
          'type': 'email',
          'hint': 'This is a hint'
        }) }}

        {{ wtforms.govukInput(form, 'float_field')}}
        {{ wtforms.govukInput(form, 'integer_field')}}
        {{ wtforms.govukInput(form, 'decimal_field')}}
        {{ wtforms.govukCheckboxes(form, 'boolean_field')}}
        {{ wtforms.govukSelect(form, 'select_field')}}

        {{ wtforms.govukCheckboxes(form, 'select_multiple_field', {
          'fieldset': {
            'legend': {
              'text': 'SelectMultipleField rendered as checkboxes'
            }
          },
          'hint': {
            'text': 'Please note that SelectMultipleField elements should never be rendered as <select multiple> elements since users find these extremely difficult to interact with.'
          }
        })}}


      {% endcall %}

      {#

    {{ multiple_choice(form, 'radio_field')}}

    {{ element(form, 'password')}}

    {{ element(form, 'password_retype')}}

    #}
    <input class="button" type="submit" value="Go">
  </form>

{% endblock %}
