{% from 'app/vendor/.govuk-frontend/components/fieldset/macro.html' import govukFieldset %}
{% import 'app/macros/flask_wtf.html' as wtforms with context %}

{% extends "app/layout.html" %}

{% block title -%}
  {%- if form.errors %}Error: {% endif -%}
  Example GOV.UK styled Flask-WTF form
{%- endblock %}

{% block content %}
  {{ wtforms.govukErrorSummary(form) }}

  <form method="POST" action="{{url_for('example_form.index')}}" novalidate>
      {% call govukFieldset({
        'legend': {
          'text': "Example GOV.UK styled Flask-WTF form",
          'classes': "govuk-fieldset__legend--m",
          'isPageHeading': true
        }
      }) %}

        {{ form.csrf_token }}

        {{ wtforms.govukInput(form, 'string_field')}}

        {{ wtforms.govukInput(form, 'password_field', {
          'type': 'password'
        })}}

        {{ wtforms.govukInput(form, 'password_retype_field', {
          'type': 'password'
        })}}

        {{ wtforms.govukInput(form, 'email_field', {
          'type': 'email',
          'hint': 'This is a hint'
        }) }}

        {{ wtforms.govukInput(form, 'float_field')}}
        {{ wtforms.govukInput(form, 'integer_field')}}
        {{ wtforms.govukInput(form, 'decimal_field')}}

        {{ wtforms.govukTextarea(form, 'textarea_field')}}

        {{ wtforms.govukCheckboxes(form, 'boolean_field')}}

        {{ wtforms.govukSelect(form, 'select_field')}}

        {{ wtforms.govukCheckboxes(form, 'select_multiple_field', {
          'fieldset': {
            'legend': {
              'text': 'SelectMultipleField rendered as checkboxes'
            }
          },
          'hint': {
            'text': 'Please note that SelectMultipleField elements should never be rendered as <select multiple> elements since users find these extremely difficult to interact with.'
          }
        })}}

        {{ wtforms.govukRadios(form, 'radio_field')}}

        {{ wtforms.govukFileUpload(form, 'file_field') }}
        {{ wtforms.govukFileUpload(form, 'multiple_file_field') }}

        {{ wtforms.govukButton(form, 'submit_button') }}
      {% endcall %}
  </form>

{% endblock %}
