{% from 'app/vendor/.govuk-frontend/components/input/macro.html' import govukInput as govukInputOriginal %}
{% from 'app/vendor/.govuk-frontend/components/checkboxes/macro.html' import govukCheckboxes as govukCheckboxesOriginal %}
{% from 'app/vendor/.govuk-frontend/components/date-input/macro.html' import govukDateInput as govukDateInputOriginal %}
{% from 'app/vendor/.govuk-frontend/components/error-summary/macro.html' import govukErrorSummary as govukErrorSummaryOriginal %}
{% from 'app/vendor/.govuk-frontend/components/fieldset/macro.html' import govukFieldset as govukFieldsetOriginal %}
{% from 'app/vendor/.govuk-frontend/components/file-upload/macro.html' import govukFileUpload as govukFileUploadOriginal %}
{% from 'app/vendor/.govuk-frontend/components/select/macro.html' import govukSelect as govukSelectOriginal %}
{% from 'app/vendor/.govuk-frontend/components/textarea/macro.html' import govukTextarea as govukTextareaOriginal %}

{% macro govukInput(form, name, params={}) %}
  {{ govukInputOriginal(wtforms(form, name, params)) }}
{% endmacro %}

{% macro govukSelect(form, name, params={}) %}
  {{ govukSelectOriginal(wtforms(form, name, params)) }}
{% endmacro %}

{% macro govukCheckboxes(form, name, params={}) %}
  {{ govukCheckboxesOriginal(wtforms(form, name, params)) }}
{% endmacro %}

<!--
date input
error message
error summary
fieldset
file upload
textarea -->
