{% from 'app/vendor/.govuk-frontend/components/input/macro.html' import govukInput as govukInputOriginal %}
{% from 'app/vendor/.govuk-frontend/components/checkboxes/macro.html' import govukCheckboxes as govukCheckboxesOriginal %}
{% from 'app/vendor/.govuk-frontend/components/date-input/macro.html' import govukDateInput as govukDateInputOriginal %}
{% from 'app/vendor/.govuk-frontend/components/error-summary/macro.html' import govukErrorSummary as govukErrorSummaryOriginal %}
{% from 'app/vendor/.govuk-frontend/components/file-upload/macro.html' import govukFileUpload as govukFileUploadOriginal %}
{% from 'app/vendor/.govuk-frontend/components/select/macro.html' import govukSelect as govukSelectOriginal %}
{% from 'app/vendor/.govuk-frontend/components/textarea/macro.html' import govukTextarea as govukTextareaOriginal %}
{% from 'app/vendor/.govuk-frontend/components/radios/macro.html' import govukRadios as govukRadiosOriginal %}

{% macro govukInput(form, name, params={}) %}
  {{ govukInputOriginal(wtforms(form, name, params)) }}
{% endmacro %}

{% macro govukSelect(form, name, params={}) %}
  {% if form[name].type == 'SelectMultipleField' %}
    {{ raise_template_error('SelectMultipleField elements should be rendered with the govukCheckboxes macro, not as a <select multiple> element') }}
  {% endif %}
  {{ govukSelectOriginal(wtforms(form, name, params)) }}
{% endmacro %}

{% macro govukCheckboxes(form, name, params={}) %}
  {{ govukCheckboxesOriginal(wtforms(form, name, params)) }}
{% endmacro %}

{% macro govukRadios(form, name, params={}) %}
  {{ govukRadiosOriginal(wtforms(form, name, params)) }}
{% endmacro %}

{% macro govukTextarea(form, name, params={}) %}
  {{ govukTextareaOriginal(wtforms(form, name, params)) }}
{% endmacro %}

<!--
date input
error message
error summary
fieldset
file upload
textarea -->
